:root {
    --header-footer-text-color: #d6eef0;
    --header-footer-button-color: #eaaabc;
    --bio-primary-color: #171616;
    --bio-secondary-color: #4e4d4b;
    --bio-tertiary-color: #d3d1d0;
    --bio-color-pop: #e5a4b8;
    --fave-songs-primary-color: #141313;
    --fave-songs-secondary-color: #353d18;
    --fave-songs-tertiary-color: #bd231a;
    --fave-songs-color-pop: #f2871d;
    --alfits-primary-color: #f0e8d3;
    --alfits-secondary-color: #afe0b5;
    --alfits-tertiary-color: #92d0ce;
    --alfits-color-pop-1: #ebb8c6;
    --alfits-color-pop-2: #dcba59;
    --alfits-color-pop-3: #45291a;
    --heading-footer-font: 'Inconsolata', monospace;
    --bio-heading-font: 'dynamo';
    --bio-text-font: 'jackinput-bold';
    --fave-songs-font: 'Secular One', sans-serif;
    --alfits-heading-font: 'futura-extra-bold';
    --alfits-text-font: 'jackinput-regular';


}

@font-face {
    font-family: 'dynamo';
    src: url('./fonts/tff/dynamo.ttf') format('truetype');
    src: url('./fonts/woff/dynamo.woff') format('woff');
    src: url('./fonts/woff2/dynamo.woff2') format('woff2');
}

@font-face {
    font-family: 'free-fat-font';
    src: url('./fonts1/free-fat-font.ttf') format('truetype');
    src: url('./fonts/woff/free-fat-font.woff') format('woff');
    src: url('./fonts/woff2/free-fat-font.woff2') format('woff2');
}

@font-face {
    font-family: 'futura-extra-bold';
    src: url('./fonts1/futura-extra-bold.ttf') format('truetype');
    src: url('./fonts/woff/futura-extra-bold.woff') format('woff');
    src: url('./fonts/woff2/futura-extra-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'jackinput-regular';
    src: url('./fonts1/jackinput-regular.ttf') format('truetype');
    src: url('./fonts/woff/jackinput-regular.woff') format('woff');
    src: url('./fonts/woff2/jackinput-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'jackinput-bold';
    src: url('./fonts/tff/jackinput-bold.ttf') format('truetype');
    src: url('./fonts/woff/jackinput-bold.woff') format('woff');
    src: url('./fonts/woff2/jackinput-bold.woff2') format('woff2');
}

body {
    background: linear-gradient(235deg, rgb(242, 135, 29) 0%, rgb(220, 186, 89) 100%);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/header-bg-7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 60px 0;
    margin: 0 auto;
    max-width: 1400px; 
    font-family: var(--heading-footer-font);
    color: var(--header-footer-text-color);
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px;
  }

.button {
    display: inline-block;
    padding: 20px 20px;
    border-radius: 15px;
    border: none; 
    text-decoration: none;
    background-color: var(--header-footer-button-color);
    color: var(--header-footer-text-color)
}

.button:hover {
    background-color: var(--header-footer-text-color);
    color: var(--header-footer-button-color)
}

.grid {
    display: grid;
    grid-gap: 50px;
}

.grid-2-columns {
    grid-template-columns: 1fr 2fr;
}

.img {
    max-width: 100%;
    display: block;
}

.igor {
    background-color: var(--bio-color-pop)
}

.igor h3 {
    font-family: var(--bio-text-font);
    letter-spacing: 4px;
    color: var(--bio-secondary-color);
    font-size: 16px;
}

.igor h2 {
    font-family: var(--bio-heading-font);
    color: var(--bio-primary-color);
    font-size: 40px;
}

.igor p {
    font-family: var(--bio-text-font);
    font-size: 16px;
    line-height: 1.35;

}

@media (max-width: 960px) {
    
}
