:root {
    --header-footer-text-color: #d6eef0;
    --header-footer-button-color: #eaaabc;
    --bio-primary-color: #171616;
    --bio-secondary-color: #4e4d4b;
    --bio-tertiary-color: #d3d1d0;
    --bio-color-pop: #e5a4b8;
    --fave-songs-primary-color: #141313;
    --fave-songs-secondary-color: #353d18;
    --fave-songs-tertiary-color: #bd231a;
    --fave-songs-color-pop: #f2871d;
    --fave-songs-card: #6e802c;
    --alfits-primary-color: #f0e8d3;
    --alfits-secondary-color: #afe0b5;
    --alfits-tertiary-color: #92d0ce;
    --alfits-color-pop-1: #ebb8c6;
    --alfits-color-pop-2: #dcba59;
    --alfits-color-pop-3: #45291a;
    --heading-footer-font: 'Inconsolata', monospace;
    --bio-heading-font: 'dynamo';
    --bio-text-font: 'jackinput-bold';
    --fave-songs-font: 'Secular One', sans-serif;
    --alfits-heading-font: 'futura-extra-bold';
    --alfits-text-font: 'jackinput-regular';


}

@font-face {
    font-family: 'dynamo';
    src: url('./fonts/tff/dynamo.ttf') format('truetype');
    src: url('./fonts/woff/dynamo.woff') format('woff');
    src: url('./fonts/woff2/dynamo.woff2') format('woff2');
}

@font-face {
    font-family: 'free-fat-font';
    src: url('./fonts1/free-fat-font.ttf') format('truetype');
    src: url('./fonts/woff/free-fat-font.woff') format('woff');
    src: url('./fonts/woff2/free-fat-font.woff2') format('woff2');
}

@font-face {
    font-family: 'futura-extra-bold';
    src: url('./fonts1/futura-extra-bold.ttf') format('truetype');
    src: url('./fonts/woff/futura-extra-bold.woff') format('woff');
    src: url('./fonts/woff2/futura-extra-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'jackinput-regular';
    src: url('./fonts1/jackinput-regular.ttf') format('truetype');
    src: url('./fonts/woff/jackinput-regular.woff') format('woff');
    src: url('./fonts/woff2/jackinput-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'jackinput-bold';
    src: url('./fonts/tff/jackinput-bold.ttf') format('truetype');
    src: url('./fonts/woff/jackinput-bold.woff') format('woff');
    src: url('./fonts/woff2/jackinput-bold.woff2') format('woff2');
}

body {
    background: linear-gradient(180deg, rgb(242, 135, 29) 0%, rgb(220, 186, 89) 100%);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/header-bg-7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 60px 0;
    margin: 0 auto;
    max-width: 1400px; 
    font-family: var(--heading-footer-font);
    color: var(--header-footer-text-color);
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px;
}

footer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 20px 20px;
    border-radius: 15px;
    border: none; 
    text-decoration: none;
    background-color: var(--header-footer-button-color);
    color: var(--header-footer-text-color)
}

.button:hover {
    background-color: var(--header-footer-text-color);
    color: var(--header-footer-button-color)
}

.grid {
    display: grid;
    grid-gap: 50px;
    max-width: 1400px;
}

.grid-2-columns {
    grid-template-columns: 1fr 2fr;
}

.grid-3-columns-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.img {
    max-width: 100%;
    display: block;
}

.igor {
    background-color: var(--bio-color-pop);
}

.igor h3 {
    font-family: var(--bio-text-font);
    letter-spacing: 4px;
    color: var(--bio-secondary-color);
    font-size: 20px;
    margin-top: 0;
}

.igor h2 {
    font-family: var(--bio-heading-font);
    color: var(--bio-primary-color);
    font-size: 50px;
    margin: 0;
}

.igor p {
    font-family: var(--bio-text-font);
    font-size: 16px;
    line-height: 1.35;

}

.sffb {
    background-color: var(--fave-songs-secondary-color);
}

.sffb h3, h2 {
    font-family: var(--fave-songs-font);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.sffb h3 {
    color: var(--fave-songs-tertiary-color);
    opacity: 0.7;
    font-size: 20px;
}

.sffb h2 {
    color: var(--fave-songs-color-pop);
    font-size: 50px;
    margin-top: 50px;
}

.spotify-embed h2 {
    margin-top: 0;
}

.card {
    background-color: var(--fave-songs-card);
    border-radius: 8px;
    padding: 20px 20px;
    max-width: 1400px;
}

.card-body {
    font-family: var(--fave-songs-font);
}

.card-body h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.card-body h5 {
    font-size: 16px;
    margin-bottom: 5px;
}

.card-body p {
   color: var(--fave-songs-primary-color);
   opacity: 0.8;
   margin-top: 0;
}

.card-footer {
    margin: auto 70px;
}

.card-button {
    display: inline-block;
    padding: 20px 20px;
    border-radius: 15px;
    border: none; 
    text-decoration: none;
    font-family: var(--fave-songs-font);
    background-color: var(--fave-songs-tertiary-color);
    color: var(--fave-songs-color-pop);
}

.card-button:hover {
    background-color: var(--fave-songs-color-pop);
    color: var(--fave-songs-tertiary-color);
}

.cmiygl {
    background-color: var(--alfits-tertiary-color);
    letter-spacing: 3px;
}

.cmiygl h3 {
    font-family: var(--alfits-text-font);
    font-size: 20px;
    margin: 0;
}

.cmiygl h2 {
    font-family: var(--alfits-heading-font);
    font-size: 50px;
    margin: 20px auto;
}

.gallery-img {
    display: block;
    max-width: 220px;
    padding: 30px 30px;
    border: 10px solid var(--alfits-color-pop-3);
    margin: 20px 20px;
}

.footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/footer-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--heading-footer-font);
    line-height: 1.35;
    color: var(--header-footer-button-color);
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a {
    color: var(--header-footer-button-color);
}

@media (max-width: 960px) {
    section {
        padding: 10px
    }

    .grid {
        grid-gap: 20px
    }

    .grid-2-columns {
        grid-template-columns: 1fr;
    }

    .grid-3-columns {
        grid-template-columns: 1fr;
    }

    .grid-3-columns-narrow {
        grid-template-columns: 1fr;
    }

    
}
